body{
    margin: 0;
    padding: 0;
}
.header{
    margin-top: -30px;
    height: 135px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    /* margin: 30px auto; */

    background-position:-30px -42px;
    /* border: red 1px solid; */
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Noto Sans SC', sans-serif;
}



a,li,ul{
    font-family: 'Open Sans', sans-serif;
}



.content{
    height: 510px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    /* border: red 1px solid; */

}
.content-1{
    width: 100%;
    height: 50px;
    /* border: red 1px solid; */
    line-height: 50px;
    margin-left: 250px;
}
.content-1 span{
    font-size: 18px;
}


form{
    width: 25%;
    height: 20px;
    /* border: red 1px solid; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: relative;
}

#tip .container{
    padding: 35px;
}

.container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{
    max-width: 1060px;
}

input {
     outline:none; 
}